@tailwind base;

/* Custom Tailwind classes. */

.btn {
  @apply font-bold py-2 px-4 rounded;
}

@tailwind components;

@tailwind utilities;

/* Custom CSS */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.property--button {
  display: none;
}

.property:hover .property--button {
  display: inline;
}
